<div class="container">

    <div class="row d-flex justify-content-start align-items-center" style="margin: 20px;">
        <button class=" btn btn-primary col-3 mr-3" (click)="adminContainerService.getAllTables(1)">View All tables</button>
        <button class=" btn btn-primary col-5 mr-3" (click)="adminContainerService.enableBookSearchDiv()">Search Booked Tables In Specific Date</button>
        <button class=" btn btn-primary col-3 mr-3" (click)="viewModalAddTable()">Add new table</button>


    </div>

    <form #filter="ngForm" class="d-flex justify-content-start align-items-center " *ngIf="adminContainerService.IsSearchBookingRequest">
        <input class="form-control " placeholder="Booking Date" name="dp2" [(ngModel)]="adminContainerService.bookDate" ngbTooltip="Booking Date" ngbDatepicker #d1="ngbDatepicker" [readonly]="true" [minDate]="today">
        <button class="btn btn-outline-secondary calendar btn-calender" (click)="d1.toggle()" type="button"></button>
        <input required class="form-control form-control-range " type="number" [min]="0" [max]="24" ngbTooltip="Booking hour" placeholder="Hour Of Booking" name="hour" [(ngModel)]="adminContainerService.hour" (ngModelChange)="adminContainerService.hour > 24 ?  adminContainerService.hour = 1 : null"
            style="margin-right: 5px;" />
        <button [disabled]="filter.form.invalid" class=" btn btn-primary form-control" (click)="adminContainerService.getBookedTable(1)">Search For Tables Booked in this day</button>

    </form>

    <div class="row" *ngIf=" ! adminContainerService.IsSearchBookingRequest">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4 card  mr-3" *ngFor="let table of adminContainerService.tables">
            <img class="card-img-top" src="/assets/tablecover.jpg">
            <div class="card-block">
                <h4 class="card-title">table number : {{table.number}} </h4>
                <div class="meta">
                </div>
                <div class="card-text">
                    Maximum number of people :{{table.maxNumberOfPersons}}

                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary form-control float-right btn-sm " value="{{table.id}}" (click)="deleteTable($event)">Delete</button>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="adminContainerService.IsSearchBookingRequest">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4 card  mr-3" *ngFor="let book of adminContainerService.bookings">
            <img class="card-img-top" src="/assets/tablecover.jpg">
            <div class="card-block">

                <div class="card-text">
                    <div> Booking name:{{book.username}}</div>
                    <div> Book Date:{{book.bookDate | date:'short'}}</div>
                    <div> table Number:{{book.tableNumber}}</div>
                    <div> No of Persons:{{book.numberOfPersons}}</div>

                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary form-control float-right btn-sm " value="{{book.bookId}}" (click)="cancelBooking($event)">Cancel</button>
            </div>
        </div>
    </div>

    <div *ngIf="adminContainerService.totalElements >adminContainerService.pageSize &&  ! adminContainerService.IsSearchBookingRequest" class="d-flex justify-content-between pagination">
        <ngb-pagination [collectionSize]="adminContainerService.totalElements" [maxSize]="5" [(page)]="adminContainerService.pageIndex" [pageSize]="adminContainerService.pageSize" (pageChange)="adminContainerService.getAllTables($event)">
        </ngb-pagination>
    </div>

    <div *ngIf="adminContainerService.totalElements >adminContainerService.pageSize &&   adminContainerService.IsSearchBookingRequest" class="d-flex justify-content-between pagination">
        <ngb-pagination [collectionSize]="adminContainerService.totalElements" [maxSize]="5" [(page)]="adminContainerService.pageIndex" [pageSize]="adminContainerService.pageSize" (pageChange)="adminContainerService.getBookedTable($event)">
        </ngb-pagination>
    </div>

</div>