<div class="modal-header">
    <h4 class="modal-title">{{ windowHeader }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <ngb-alert [dismissible]="false" [type]="messageType" *ngIf="messageType">
        <strong *ngIf="messageType == 'danger'">Error!</strong> {{ message }}
    </ngb-alert>

    <span *ngIf="!messageType">{{ message }}</span>
</div>
<div class="modal-footer">
    <div *ngIf="inquiry">
        <button type="button" class="btn btn-outline-dark" value="no" (click)="passBack($event)">
      No
    </button>
    </div>
    <div *ngIf="inquiry">
        <button type="button" class="btn btn-outline-dark" value="yes" (click)="passBack($event)">
      Yes
    </button>
    </div>
    <div *ngIf="!inquiry">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
      Close
    </button>
    </div>
</div>